@import "tailwindcss";

@theme {
  --color-brand-primary: #871F1E;
  --color-brand-secondary: #ED1B24;
  --color-brand-third: #F58726;
  --color-brand-accent: #FACC00;
  --color-brand-bg: #FAF7F5;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  min-width: 320px;
}